<div class='col-md-8'>
    <h3>
        <i class="fa fa-bars"></i> Nazwa:
        {{#if isEditingName}}
            {{edit-input class="form-control" value=task.name focus-out="acceptNameChanges" insert-newline="acceptNameChanges"}}
        {{else}}
            <br />
            <a {{action 'editTaskName' on='doubleClick'}}>
                {{task.name}}
            </a>
        {{/if}}

    </h3>
    <hr />

    <h3>

        {{#if isEditingDescription}}
            {{edit-text class="form-control" value=task.description focus-out="acceptDescriptionChanges" }}
        {{else}}
            <pre style='white-space: pre-line;' {{action 'editTaskDescription' on='doubleClick'}}>
                {{task.description}}
            </pre>
        {{/if}}

    </h3>
</div>

<div class='col-md-8' style='margin-bottom: 5px;'>
    <form class='form-inline padding7p'>
        <div class='form-group'>
            {{textarea value=task.newComment class='form-control' placeholder='Dodaj komentarz' cols="80" rows="6"}}
        </div>
        <button type='submit' class='btn btn-default' {{action 'addComment'}}>Dodaj komentarz</button>
    </form>
</div>

