<div>
  <div class='col-md-6'>
    <form class='form-inline'>
      <div class='form-group'>
        {{view Ember.TextField valueBinding="newListName" class='form-control input-lg' placeholder='Add new List'}}
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Create List</button>
    </form>
  </div>

  <br />
  <br />
  <hr />

  {{newListName}}

  <div class="row">
    <div class="col-md-4">
      {{#each itemController='list'}}

        <div class='col-md-8'>
          <h3>
            {{#if isEditingList}}
              {{edit-input class="form-control" value=name focus-out="acceptChanges" insert-newline="acceptChanges"}}
            {{else}}
              <div {{action 'editList' on='doubleClick'}}>
                {{name}}
              </div>
            {{/if}}
          </h3>
        </div>

        <div class='col-md-4 down13p'>
          <button class="btn btn-danger btn-small pull-right" {{action "destroyList" id}} type="button">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>

        <form class='form-inline padding7p'>
          <div class='form-group'>
            {{view Ember.TextField valueBinding="newTaskName"}}
          </div>
          <button type='submit' class='btn btn-default' {{action 'addTask'}}>Add Task</button>
        </form>

        {{#each task in this.tasks itemController='task'}}
          <div class="col-md-10">
            <div class='col-md-10 padding7p'>

              {{#if task.isEditingTask}}
                {{edit-input class="form-control" value=task.name focus-out="acceptChanges" insert-newline="acceptChanges"}}
              {{else}}
                <div {{action 'editTask' on='doubleClick'}}>
                  {{task.name}}
                </div>
              {{/if}}
            </div>

            <div class='col-md-2'>
              <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTaskFromList($index, task, list)" type="button">
                <span class="glyphicon glyphicon-ban-circle"></span>
              </button>
            </div>

          </div>
        {{/each}}

      {{/each}}

    </div>
  </div>

</div>
