<h3>Edycja profilu</h3>

<form class="form-horizontal" role="form">

  <div class="form-group">
    <label class="col-sm-2 control-label">First name</label>
    <div class="col-sm-4">
      {{view Ember.TextField valueBinding='model.firstName' placeholder="First name" class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Last name</label>
    <div class="col-sm-4">
      {{view Ember.TextField valueBinding='model.lastName' placeholder="Last name" class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      {{view Ember.TextField valueBinding='model.email' placeholder="Email" class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="image_url" class="col-sm-2 control-label">Avatar URL</label>
    <div class="col-sm-4">
      {{view Ember.TextField valueBinding='model.avatar' placeholder="Adres URL obrazka" class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'updateProfile' model.id}}>Wyślij</button>
    </div>
  </div>
</form>

<br />
<hr />

<form ng-submit='updatePass()' class="form-horizontal" role="form">

  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Nowe hasło</label>
    <div class="col-sm-4">
      <input type="password" ng-model='user.password' class="form-control" id="password" placeholder="Nowe Hasło">
    </div>
  </div>

  <div class="form-group">
    <label for="password_confirmation" class="col-sm-2 control-label">Powtórz nowe hasło</label>
    <div class="col-sm-4">
      <input type="password" ng-model='user.passwordConfirmation' class="form-control" id="password_confirmation" placeholder="Powtórz nowe hasło">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Wyślij</button>
    </div>
  </div>
</form>

